<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <!-- navbar -->
  <div class="container-fluid containNav">
    <div class="row containNav">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light app-alerts">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#"> <img class="site-logo lazyloaded" src="../../assets/img/logo.webp" alt="Sydney"></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navItem">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
        
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- end navbar -->

  <!-- start header -->
<div class="container-fluid">
<div class="row contheder">
  <!-- <div class="col-12"> -->
 <!-- <div class="con"> -->
  <img class="imgHeader" src="../../assets/img/pexels-photo-5222109 (1).jpeg" >
  <!-- <div class="overlayHead">
    <div class="textHeD">
      <h1>Welcome to Sydney</h1>
 <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
  </div> 
 </div> -->
  <!-- </div> -->
</div>
</div>

  <!-- end header -->


  <!-- start Bride & Groom -->
  <div class="container-fluid">
    <div class="row ">
   
       
          <div class="bride">
            <h1>Bride & Groom</h1>
            <p>“To the world you may be one person, but to one person you are the world”</p>
          </div>
        </div>

     
    
  </div>
    <!-- end Bride & Groom -->
    <!--  -->
    
   
    <!-- card -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      
     <div class="containerCard">
       <div class="card">
       <img class="imgCard" src="../../assets/img/person-1.png" alt="">
<h4>Michen Jack</h4>
<p>+02 6666 8888</p>
<img class="personAfter" src="../../assets/img/person-after-img.png" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore unde dignissimos, distinctio accusamus eius asperiores quibusdam officiis sunt doloremque commodi, veniam dolore veritatis autem ab dolorum non aut voluptate cum!</p>

      </div>


       <div class="card shadw">

      
          <h2>Our Story</h2>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
          <h2>First Meet</h2>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
          <h2>First Kiss</h2>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          <hr>
          <h2>He Proposed</h2>
          <p>SUNDAY
            19 MARCH 2019</p>
      
   
       </div>
       <div class="card">
        <img class="imgCard" src="../../assets/img/person-2-1.png" alt="">
        <h4>Nancy Delgado</h4>
        <p>+02 6666 8888</p>
        <img class="personAfter" src="../../assets/img/person-after-img.png" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia dicta sequi obcaecati odit repellat dolore asperiores? Asperiores eius eaque culpa unde sunt necessitatibus dicta quaerat libero reiciendis mollitia. Non, autem.</p>
       </div>
    
     </div>
    </div>
  </div>
</div>
    <!--  -->

    <!-- dont forget -->
    <div class="container-fluid">
      <div class="row dontForger">
        <div class="col-12 justf">
<div class="containDon">
  <h5 class="redHEAD">Don't forget</h5>
<H1>SUNDAY, 19 MARCH 2019</H1>
</div>
        </div>
      </div>
    </div>
    <!-- Wedding Event -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="conEvent">
           <div class="textEve stopMargin">
            <h2>Wedding Event</h2>
            <p>Information, time, schedule, location,..more</p>
           </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="contain">
<div class="imgEv">
<img src="../../assets/img/img-1.png" alt="">
</div>
<div class="imgEv">
<h3>Ceremony Wedding</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="contain">
            
              <div class="imgEv">
              <h3>Ceremony Wedding</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
              <div class="imgEv">
                <img src="../../assets/img/img-3.png" alt="">
                </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="contain">
            <div class="imgEv">
              <img src="../../assets/img/img-2.png" alt="">
              </div>
            <div class="imgEv">
              <h3>Ceremony Wedding</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="contain">
            
            <div class="imgEv">
              <h3>Ceremony Wedding</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
              <div class="imgEv">
                <img src="../../assets/img/img-4.png" alt="">
                </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="container-fluid">
      <div class="row footBck">
        <div class="col-12">
          <div class="contentFOOTER">
            <div class="secFooter">
              <h5>Recent Posts</h5>
              <p>Facial Surgery With Personal
                November 30, 2019
                Cosmetic Surgery A Review
                November 30, 2019</p>
            </div>
            <div class="secFooter">
              <img src="../../assets/img/logo.webp" alt="">
              <br>
              <p>633 McLaughlin Ville Suite 640, NY City, USA
                (+12) 345 678 9100
                info.athemes@gmail.com</p>
            </div>
            <div class="secFooter">
              <h5>Quick Links</h5>
              <p>Latest News</p>
              <br>
              <p>Our Story</p>
              <br>
              <p>Location Address</p>
              <br>
              <p>Our Services</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footBck">
        <div class="col-12">
          <div class="copy">
            <p>amiramahana96@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>